@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');


/* 
variables
*/
:root{
 --clr-primary:#678e3e;
 --clr-primary-light:#beed8c;
 --clr-grey-1:#102a42;
 --clr-grey-2:#617d98;
 --clr-grey-3:#f1f5f8;
 --clr-white:#fff;
 --ff-primary:"Catamaran",sans-Serif;
 --ff-secondary:"Grand Hotel" , cursive;
 --transition:all 2s linear;
 --letter-spacing:0.25rem;
 --radius:0.5rem;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: var(--ff-primary);
 background: var(--clr-white);
 color: var(--clr-grey-1);
 line-height: 1.5;
 font-size: 0.875rem;
}
a{
 text-decoration: none;
}
img{
 width: 100%;
 display: block;
}
h1,h2,h3,h4{
 letter-spacing: var(--letter-spacing);
 text-transform: capitalize;
 line-height: 1.25;
 margin-bottom:0.75rem;
}
h1{
font-size:3rem;
}
h2 {
font-size:2rem;
}

h3 {
font-size:1.5rem;
}
h4 {
font-size:0.875rem;
}
p{
 margin-bottom: 1.25rem;
}
@media screen and (min-width:800){
 h1 {
  font-size: 4rem;
 }

 h2 {
  font-size: 2.5rem;
 }

 h3 {
  font-size: 2rem;
 }

 h4 {
  font-size: 1rem;
 }
body{
 font-size: 1rem;
}
h1,h2,h3,h4{
 line-height: 1rem;
}
}



/* 
more global styles
*/
.btn{
 text-transform: uppercase;
 background: var(--clr-primary);
 color: var(--clr-white);
 display: inline-block;
 font-weight: 700;
 padding: 0.75rem 1rem ;
 letter-spacing: var(--letter-spacing);
 transition: var(--transition);
 font-size: 1rem;
 cursor: pointer;
 box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
 border: none;

}
.clearfix::after ,.clearfix::before{
 content: " ";
 clear: both;
 display: table;
}
.section-title h3{
 font-family: var(--ff-secondary);
 color: #3C493F;
}
.section-title{
 margin-bottom: 2rem;
}
.section-center{
 padding: 4rem 0;
 width: 85vw;
 margin: 0 auto;
 max-width: 1170px;
}
@media screen and (min-width:992px){
 .section-center{
  width: 95vw;
  padding: 4rem 1rem;

 }
}
.btn:hover{
 background: var(--clr-primary-light);
 color: var(--clr-primary);

}
.banner-btn{
 outline: 0.125rem solid var(--clr-primary);
 outline-offset: 0.25rem;
 font-size: 1.25rem;
 padding: 1rem 1.7rem;
}
/* 
header section
*/
.header{
 min-height: 100vh;
 background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0)),
 url('./images/bg.jpg') center/cover no-repeat fixed;
 position: relative;
 overflow-x: hidden;
 /* animation */
}
.banner{
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.banner h2{
 font-family: var(--ff-secondary);
 color: var(--ff-primary);
 /* animation */
}
.banner h1{
 text-transform: uppercase;
 color: var(--clr-white);
 margin-top: 1.25rem;
 margin-bottom: 2rem;
}
/* 
content divider 
*/
.content-divider{
 height: 0.5rem;
 background: linear-gradient(to left,rgba(--clr-grey-1),#d6a02d,#1a7fdf);
}

/* skills section */
/* .skill{
 background: var(--clr-grey-3);
} */
.skill{
 text-align: center;
 padding: 2.5rem 0;
 transition:var(--transition);
}
.skill-icon{
 font-size: 2.5rem;
 margin-bottom: 1.25rem;
 transition: var(--transition);
 display: inline-block;
 color:var(--clr-primary);
}
.skill-text{
 color: var(--clr-grey-2);
 max-width: 17rem;
 margin: 0 auto;
}
.skills:hover{
 background-color: var(--clr-white);
 box-shadow: 0px 2px var(--clr-grey-2);
}
.skill:hover .skill-icon{
 transform: translateY(5px);
}
@media screen and (min-width:576px){
 .skills{
 float:left;
 width: 50%;
 }
@media screen and (min-width:992px) {
 .skills{
  width: 25%;
 }
 .about-img,.about-info{
  padding: 2rem 0;
 }
 .about-picture-container{
  background: var(--clr-primary);
  border: 0.2rem solid var(--clr-primary);
  max-width: 30rem;
  /* prevents image from wrapping outside */
  overflow: hidden;
 }
 .about-picture{
  transition: var(--transition);
 }
 .about-picture-container:hover .about-picture{
  transform: scale(1.2);
  opacity: 0.5;
 }
 .about-text{
  max-width: 25rem;
  color: var(--clr-grey-1);
 }
 @media screen and (min-width:992px){
  .about-info,.about-img{
   width: 50%;
   float: left;
  }
 }
}}